---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Contact | Mystic Manes"
  description="Get in touch with Mystic Manes Beauty in Colorado Springs for appointments, consultations, and salon inquiries. We’re here to make your hair dreams come true!"
/>
<section
  class="my-12 md:my-12 px-6 md:px-0 max-w-7xl mx-auto bg-[var(--color-lav)]"
>
  <div class="wrapper pt-12 md:pt-12 px-4">
    <div class="flex flex-col md:flex-row">
      <div class="left flex-1">
        <img src="kinfolk.webp" alt="photo of Kinfolk Salon" />
      </div>
      <div class="right flex-1 order-first md:order-last">
        <h1
          class="text-[var(--color-dark-blue)] text-4xl text-center mb-4 playfair"
        >
          LOCATION & PARKING
        </h1>
        <p class="text-[var(--color-dark-blue)] text-center mb-8">
          MYSTIC MANES is located at 708 South Tejon Street near Weidner Field,
          just outside downtown Colorado Springs. Center parking is directly in
          the back behind Kinfolk Salon Building.
        </p>
      </div>
    </div>
  </div>

  <Footer />
</section>
