<section id="About" class="bg-[var(--color-dark-blue)] py-12 md:py-12 px-4">
  <div
    id="about-container"
    class="max-w-7xl md:px-4 mx-auto flex gap-10 [@media(min-width:1023px)]:gap-32 flex-col [@media(min-width:1023px)]:flex-row"
  >
    <div class="about-left flex-1 min-w-[300px]">
      <img
        src="/images/kasey.jpg"
        alt="Picture of hair stylist Kasey"
        class="h-full object-cover rounded-lg shadow-lg"
      />
    </div>
    <div
      class="about-right flex-1 min-w-[300px] order-first [@media(min-width:1023px)]:order-last"
    >
      <h3 class="text-4xl playfair text-[var(--light)] max-w-md mb-8">
        Why Choose Our Hair Salon Services?
      </h3>
      <p class="text-[var(--light)] mb-8">
        Kasey is a master of her craft—with specialized areas of expertise—and
        educates every client on how to maintain their look at home. She
        delivers consistent results and personalized service in a welcoming
        atmosphere.
      </p>
      <div
        class="why-block 1 text-[var(--light)] mb-8 p-4 bg-linear-to-b from-blue-100/10 to-neutral-300/10 rounded-lg"
      >
        <h4 class="playfair tracking-wide mb-2">Professionalism</h4>
        <p class="text-sm">
          Kasey is dedicated to providing exceptional service to her clients and
          is committed to maintaining a high level of professionalism in all
          aspects of her business.
        </p>
      </div>
      <div
        class="why-block 2 text-[var(--light)] mb-8 p-4 bg-linear-to-b from-blue-100/10 to-neutral-300/10 rounded-lg rounded-lg"
      >
        <h4 class="playfair tracking-wide mb-2">Expertise</h4>
        <p class="text-sm">
          With over 8 years of experience in the industry, Kasey has developed a
          deep understanding of hair care and styling techniques. She is
          constantly updating her skills and knowledge to stay current with the
          latest trends and styles.
        </p>
      </div>
      <div
        class="why-block 3 text-[var(--light)] mb-8 p-4 bg-linear-to-b from-blue-100/10 to-neutral-300/10 rounded-lg"
      >
        <h4 class="playfair tracking-wide mb-2">Personalized Service</h4>
        <p class="text-sm">
          Kasey takes the time to get to know each client and understand their
          unique needs and preferences. She works closely with her clients to
          create a personalized look that enhances their natural beauty and
          complements their lifestyle.
        </p>
      </div>
      <div
        class="why-block 4 text-[var(--light)] p-4 bg-linear-to-b from-blue-100/10 to-neutral-300/10 rounded-lg"
      >
        <h4 class="playfair tracking-wide mb-2">Quality Products</h4>
        <p class="text-sm">
          Kasey uses only the highest quality hair care products to ensure that
          her clients receive the best possible results. She is committed to
          using products that are safe, effective, and environmentally friendly.
        </p>
      </div>
    </div>
  </div>
</section>
