---
import { Phone } from "lucide-react";
---

<section class="bg-[var(--color-dark-blue)] py-12 md:pb-20 px-4 pb-28 relative">
  <div>
    <h3 class="text-center text-4xl text-[var(--light)] playfair mb-8">
      Ready for Your New Look?
    </h3>

    <p class="text-[var(--light)] max-w-3xl mx-auto text-center">
      Whether you're looking for a new color or finally want to try that new
      cut, I'm ready to help make your vision come to life. Fill out the form,
      give me a call, or book online to get started!
    </p>
    <div id="button-flex" class="flex justify-center mt-8 gap-8 mb-8">
      <a
        href="https://www.vagaro.com/mysticmanesbeauty"
        class="text-[var(--dark)] px-4 py-2 rounded text-sm bg-[var(--light)] font-medium hover:bg-[var(--light)]/90"
        >Book Online</a
      >
      <a
        href="tel:+7196455650"
        class="inline-flex gap-2 items-center text-[var(--light)] border px-4 py-2 rounded text-sm font-medium"
        ><Phone size="16" /> (719) 645-5650</a
      >
    </div>
  </div>
</section>
