<section class="px-4 md:px-0 max-w-7xl mx-auto">
  <div
    id="map-container"
    class="flex justify-center -mt-20 relative bg-white rounded-lg shadow-lg max-w-7xl p-4 mx-auto mb-8"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.3627976208454!2d-104.82690872365755!3d38.82415135102191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x871344df9a7dba77%3A0x96d935c70a52169b!2s708%20S%20Tejon%20St%2C%20Colorado%20Springs%2C%20CO%2080903!5e0!3m2!1sen!2sus!4v1742403933437!5m2!1sen!2sus"
      width="1280"
      height="360"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      data-astro-cid-uw5kdbxl=""></iframe>
  </div>
</section>
