---
export interface Props {
  title?: string;
  description?: string;
}

const { title = "Mystic Manes Beauty | Colorado Springs Hair Salon",
  description = "Mystic Manes Beauty – Colorado Springs' personalized salon experience for expert hair styling, color, and care. Book your magical hair transformation today!"
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/96faviconMystic.webp" />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Princess+Sofia&display=swap"
      rel="stylesheet"
    />

    <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "HairSalon",
  "name": "Mystic Manes Beauty",
  "image": "https://www.mysticmanesbeauty.com/MysticManesSig.png",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "708 S Tejon St",
    "addressLocality": "Colorado Springs",
    "addressRegion": "CO",
    "postalCode": "80903",
    "addressCountry": "US"
  },
  "telephone": "+1-719-645-5650",
  "priceRange": "$$",
  "url": "https://mysticmanesbeauty.com",
"openingHoursSpecification": [
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Monday",
    "opens": "00:00",
    "closes": "00:00"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": ["Tuesday", "Wednesday", "Thursday"],
    "opens": "09:00",
    "closes": "19:00"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": ["Friday", "Saturday", "Sunday"],
    "opens": "00:00",
    "closes": "00:00"
  }
],
  "sameAs": [
    "https://www.facebook.com/mysticmanesbeauty",
    "https://www.instagram.com/mysticmanesbeauty"
  ]
}
</script>

  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(186, 178, 214);
  }
</style>
